[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
tensorflow = "*"
apache-beam = "*"
tfx = "*"
pandas = "*"
numpy = "*"
scipy = "*"
tensorboard = "*"
jupyter-tensorboard = "*"
matplotlib = "*"
bazel = "*"
tensoflow-data-validation = "*"
ml-metadata = "*"
sqlite3 = "*"
kfmd = "*"
help = "*"

[requires]
python_version = "3.7"
